:root {
  --black: #1d1d1d;
  --purple: #b066ff;
  --blue: #203447;
  --lightblue: #1f4662;
  --blue-2: #1C2F40;
  --yellow: #ffc600;
  --pink: #EB4471;
  --white:#fefefe;
  --offwhite: #FCFFF2;
  --dark-grey: #3F403D;
  --grey: #7E8079;
  --light-grey: #BDBFB6;
  --x-light-grey: #E3E6DA;
}
